<section>
    <div class="item-image">
        <img src="assets/images/item-image.png" alt="">
    </div>
    <div class="item-details">

        <h4 class="item-name">Free Ticket</h4>
        <p class="item-description">Free ticket for anyone to make a valuable contribution towards our future online
            events programme. Thank you.
        </p>
        <p class="sale-text">Sale ends in 1 hour</p>
        <div class="donate-bar">
            <span class="donate-amount-tag">$100</span>
            <span class="donate-amount-tag tag-selected">$200</span>
            <span class="donate-amount-tag">$300</span>
            <span class="donate-amount-tag">$500</span>
            <span class="donate-amount-continer">
                <div class="currency-icon">$</div>
                <input class="donate-amount-input" type="text" placeholder="Enter amount" />
            </span>
        </div>
        <div class="price-section">
            <span class="price">Free</span>
            <div class="item-quantity">
                <select class="item-qty-dropdown" name="quantity" id="item">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>
</section>
<div class="waitlist">
    <p class="join-waitlst">Only two tickets available. <span class="join-waitlist-text">Join waitlist</span>
    </p>
</div>
<hr />