<section>
    <div class="main-container">
        <div class="dot-element-holder">
            <div class="dot-circle">
                <div [class.active]="true" class="dot"></div>
            </div>
        </div>
        <div class="dot-circle">
            <div class="dot"></div>
        </div>
        <div class="dot-circle">
            <div class="dot"></div>
        </div>
    </div>
    <hr />
    <div class="labels-container">
        <span class="">Tickets</span>
        <span class="">Sessions</span>
        <span class="">Payment</span>
    </div>
</section>