<section class="card">
    <h4 class="header">Order summary</h4>
    <div class="line-element">
        <span>1x Free Ticket</span> <span class="element-right">$0.00</span>
    </div>
    <div class="line-element">
        <span>2x Alumni Ticket</span> <span class="element-right">$3500.00</span>
    </div>
    <div class="line-element waitlisted">
        <span>2x Alumni Ticket</span> <span class="element-right">$3500.00</span>
    </div>
    <hr />
    <div>
        <div class="line-element payable">
            <span>Subtotal</span> <span class="element-right">$7000.00</span>
        </div>
        <div class="line-element payable">
            <span>Taxes</span> <span class="element-right">$70280.42</span>
        </div>
    </div>
    <hr />
    <div class="line-element payable total">
        <span>Total</span> <span class="element-right">$7,289.42</span>
    </div>
    <div class="line-element">
        <span class="promo-text">Have a promo code?</span>
    </div>
    <div class="line-element">
        <input placeholder="Promo Code" type="text" />
        <button class="promo-button">Apply</button>
    </div>
</section>
<button class="checkout-button">Checkout</button>